.switcher .btn {
  border: 3px solid #74a9d8;
  display: inline-block;
  padding: 10px;
  position: relative;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
}

.switcher input[type="radio"].toggle {
  display: none;
}

.switcher input[type="radio"].toggle + label {
  cursor: pointer;
  margin: 10px;
  min-width: 60px;
}

.switcher input[type="radio"].toggle:checked + label {
  cursor: default;
  color: #fff;
  background: #74a9d8;
  transition: color 500ms;
}